<!doctype html>
<html lang="{{ site:short_locale }}">
<head>
    <title>{{ title ?? site:name }}</title>
    <link rel="stylesheet" href="{{ mix src='css/tailwind.css' }}">
    <link rel="stylesheet" href="/css/theme.css">
</head>
<body>
    {{ partial:layout.nav }}
    {{ partial:layout.hero }}
    {{ partial:layout.features }}
    {{ partial:layout.about }}
    {{ partial:layout.pricing }}
    {{ partial:layout.faqs }}
    {{ partial:layout.testimonials }}
    {{ partial:layout.team }}
    {{ partial:layout.contact }}
    {{ partial:layout.footer }}
</body>
</html>
